[Unit]
Description=Tapo Control HTTP Server Smart Plug for Printer
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStartPre=/bin/bash -c 'source /home/pi/klipper-printer-on-off/.venv/bin/activate'
ExecStart=/home/pi/klipper-printer-on-off/.venv/bin/python3 /home/pi/klipper-printer-on-off/printer-on-off.py
WorkingDirectory=/home/pi/klipper-printer-on-off
Restart=on-failure
User=pi
Group=pi
Environment="VIRTUAL_ENV=/home/pi/klipper-printer-on-off"
Environment="PATH=/home/pi/klipper-printer-on-off/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=klipper-printer-on-off

[Install]
WantedBy=multi-user.target
